*.xml
*.csv
*.tsv
*.xlsx
*.class

**/.settings/*
**/bin/*

# We ignore all xml files *but*
# the pom.xml ones.

!*/pom.xml
!*/*/pom.xml
!*/*/*/pom.xml
!*/*/*/*/pom.xml

# Ignoring the Login information files

!*/LoginInfo.xml
!*/*/LoginInfo.xml
!*/*/*/LoginInfo.xml
!*/*/*/*/LoginInfo.xml
!*/*/*/*/*/LoginInfo.xml

# Ignoring Maven's targets.

target/**
*/target/**
*/*/target/**
*/*/*/target/**
*/*/*/*/target/**
*/*/*/*/*/target/**

!*/test.xml
!*/test.xml
!*/*/test.xml
!*/*/*/test.xml
!*/*/*/*/test.xml
!*/*/*/*/*/test.xml
